.loader {
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 9999;
}

.loader svg {
    transform: scale(0.8);
}

@media (max-width: 768px) {
    .loader svg {
        transform: scale(1);
    }
}

@media (max-width: 480px) {
    .loader svg {
        transform: scale(1);
    }
}




body.loading {
    overflow: hidden;
}



.trace-bg {
    stroke: #232323;
    stroke-width: 1.8;
    fill: none;
}

.trace-flow {
    stroke-width: 1.8;
    fill: none;
    stroke-dasharray: 40 400;
    stroke-dashoffset: 438;
    filter: drop-shadow(0 0 6px currentColor);
    animation: flow 3s cubic-bezier(0.5, 0, 0.9, 1) infinite;
}


.red {
    stroke: #e43f3f;
    color: #e43f3f;
}

@keyframes flow {
    to {
        stroke-dashoffset: 0;
    }
}

/* Čip */
.chip-body {
    rx: 20;
    ry: 20;
}

/* Text uvnitř čipu */
.chip-text {
    font-weight: bold;
    letter-spacing: 1px;
}

/* Piny */
.chip-pin {
    stroke: #444;
    stroke-width: 0.5;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
}